# Byte-compiled / optimized Python files
*.pyc
__pycache__/

# Local development settings
.env
venv/

# Django static and media files
staticfiles/
media/

# Database files
*.sqlite3

# IDE files
.vscode/
.idea/

# Dependency directories
/venv/
/.venv/
/dist/
/build/
